*{
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(46, 101, 146);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #a8ff07;
}

#colorDisplay, #prevColorDisplay {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 3px solid #0f0c0c;
    border-radius: 5px;
    display: inline-block;
}

#colorInfo, #prevColorInfo {
    margin-top: 10px;
    font-size: 18px;
}
#name{
    margin-top: 20%;
    margin-left: 45%;
}